* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face {
  font-family: "TravelingTypewriter";
  src: local("TravelingTypewriter"),
    url("./fonts/TravelingTypewriter.ttf") format("truetype");
  font-weight: normal;
}