.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 10% 10% 10%;    
}

body {
    background      : radial-gradient(rgb(48, 47, 47) 1px, transparent 1.2px);
    background-size : 50px 50px;
}